.portfolio a {
	color: black;
}

.portfolio a:hover {
	color: #af87a4;
}

.portfolio .italicize {
	color: #af87a4;
	font-style: italic;
}

.portfolio .italicize:hover {
	color: #000;
}

.portfolio .underline {
	text-decoration: underline;
}

.portfolio .underline:hover {
	text-decoration: none;
}

.hide {
	visibility: hidden;
}

/*----------------------------------------------------------------------------------*/

/*NAVIGATION*/


.nav-wrapper {
	background-color: white;
}

.nav-wrapper a {
	color: #000;
	font-family: "proxima-nova", sans-serif;
}

.header-container {

  max-width: 700px;
	min-width: 90px;
	margin: 0 auto;
	padding-left: 6%;
	padding-right: 6%;
}

.logo {
	max-width: 600px;
	padding-top: 65px;
	margin: 0 auto;
}

.logo img {
	width: 100%;
	display: inline-block;
}

.subtitle-wrapper {
	text-align: center;
}

.subtitle {
	font-family: "proxima-nova", sans-serif;
	font-size: 26px;
}

@media only screen and (max-width: 500px) {
    .subtitle {
        font-size: 16px;
    }
}

/*----------------------------------------------------------------------------------*/
/*UNDER CONSTRUCTION*/

body {
	font-family: "proxima-nova", sans-serif;
}

.content {
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	color: #fff;
	clip-path: url(#wave);
	height: 100%;
	margin-top: 32px;
	min-height: 70vh;
	position: relative;
}

.content__inner {
	margin: 0 auto;
	max-width: 600px;
	padding: 80px 24px 120px;
	text-align: center;
}

.content h4 {
	font-size: 1.6rem;
	line-height: 1.5;
}

.content p {
	font-size: 1rem;
}

.content #contact {
	font-weight: 700;
}

.content svg {
	height: 0;
}

#dusty {
	color: #778899;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
}

/*----------------------------------------------------------------------------------*/
/*FOOTER*/

.footer {
	text-align: center;
	padding-top: 3%;
	font-family: "proxima-nova", sans-serif;
	background: #000;
	color: white;
	padding-bottom: 40px;
}

.footer h4 {
	font-size: 26px;
}

.social-media {
	padding-top: 2%;
	text-align: center;
	padding-bottom: 5%;
}

.social-media li {
	display: inline-block;
	padding: 2px;
	font-size: 65px;
}

.social-media i {
	color: #fff;
}

.social-media i:hover {
	color: #f64e51;
}

#email a {
	color: #f64e51;
}

#email a:hover {
	color: #FFF;
}


@media only screen and (max-width: 500px) {
    .footer h4 {
        font-size: 20px;
    }

		.social-media i {
				font-size: 30px;
		}

		#copyright {
			font-size: 12px;
		}
}

/*----------------------------------------------------------------------------------*/

/*BLINKING CURSOR*/

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
