body{
	margin: 0 auto;
}

.hide{
	visibility: hidden;
}

a{
	color: black!important;
}

a:hover{
	color: #f64e51!important;
}

/*----------------------------------------------------------------------------------*/

/*NAVIGATION*/


.nav-wrapper{
	background-color: white;
}

.nav-wrapper a{
	color: #000;
	font-family: 'Proxima Nova';
}

/*----------------------------------------------------------------------------------*/

/*HEADER*/

.brand-logo img{
	width: 80px!important;
	margin-left: 10px;
}

.header-container{
	width:100%;
	margin: 0 auto;
	text-align: center;

	margin-bottom: 200px;
}

.logo{
	margin-top: 45px;
	padding: 40px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 0px;
}

.logo img{
	margin: 0 auto;
}


.subtitle-wrapper{
	/*margin-top: -30px;*/
}

.subtitle{
	margin-top: 0;
	font-family: Proxima Nova;
	font-size: 30px;
}

hr{
	border: 1px black solid;
}

/*----------------------------------------------------------------------------------*/
/*PROJECT THUMBNAILS*/

.col{

}

.row{
	margin-top: -10px!important;
	/*border: #d3d3d3 solid;*/
	margin-bottom: 50px!important;
}

.projects{
	/*width: 80%;*/
}

.project img{
	width: 100%;

}

.project-big{
}

.project{

 position:relative;
}

.project-description-wrapper{
	font-family: 'Proxima Nova', sans-serif;
}

.project-title{
	font-weight: bolder;
	font-size: 1.7em;
}

.project-description{

	color: black;
}


.image-overlay {
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	opacity: 0;
	background-color: #d4d4d4;
}

.image-overlay-text{
	z-index: 10;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

	width: 100%;

	color: #000;

	opacity: 0.6;

	font-family: 'Proxima Nova', sans-serif;
	font-weight: bolder!important;
}

/*.project-big p{
	font-size: 1em;
	font-weight: lighter;
	margin-left: 20%;
	margin-right: 20%;
}*/

.overlay-description{
	font-size: 0.5em;
	font-weight: lighter;
	margin-left: 20%;
	margin-right: 20%;
}

.chip{
	margin-top: 5px!important;
}

.fa-external-link{
	color: black;
	font-size: 0.7em!important;
}

/*----------------------------------------------------------------------------------*/
/*FOOTER*/

.footer{
	text-align: center;
	padding-top: 10%;
	padding-bottom: 2%;
	font-family: 'Proxima Nova';
}

.social-media li{
	display: inline-block;
	padding: 2px;

}

.social-media-top li{
	display: inline-block;
	padding: 2px;
}


.social-media-top img{
	width:20px;
}

/*----------------------------------------------------------------------------------*/

/*BLINKING CURSOR*/

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;

  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


/*----------------------------------------------------------------------------------*/

/*ABOUT*/

#about-line{
	text-align: center;
}

.about {

	width: 80%;
	background-image: url(images/photome.jpg);
	margin: 0 auto;
	margin-top: 9%;
	margin-bottom: 5%;
}

.about img{
	min-width: 100px;
	max-width: 250px;


	text-align: center;
	/*margin-right: 20px;*/

	/*float: left;*/
}

.name{
	font-size: 26px;
}

.collection-header p{
	margin-top: 0px;
}
.collection.with-header{
	border: white;
	font-family: 'Proxima Nova';
}

.collection.with-header img{
	float: left;
	margin-right: 20px;
	width: 250px;
}

.technologies{
	margin-top: 20px;
}

.tech-heading{
	font-weight: bold;
}

.antispam {
	display:none;
}

/* INDIVIDUAL PROJECT PAGES */

.subtitle-static{
	margin-top: 0;
	font-family: Proxima Nova;
	font-size: 30px;
}

.project-show {
	width: 100%;
	margin: 0 auto;
}

.project-show img{
	width: 70%;
}
