body{
	font-family: Avenir;
	float: left;
}

#container{
	float:center;
	vertical-align: middle;
	width: 450px;
	text-align:left;
	align: middle;
}

h1{
	font-family: Avenir;
	
}

img{
	width: 250px;
	align: top;
	float:right;
}